{% extends "plantilla.html" %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded">
        <h1 class="mb-4 text-center">Editar Especie Forestal</h1>

        <form action="{% url 'procesar_edicion_especie' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ especieEditar.id }}">
            
            <div class="mb-3">
                <label for="nombre_comun" class="form-label">Nombre Común</label>
                <input type="text" name="nombre_comun" id="nombre_comun" class="form-control" value="{{ especieEditar.nombre_comun }}">
            </div>

            <div class="mb-3">
                <label for="nombre_cientifico" class="form-label">Nombre Científico</label>
                <input type="text" name="nombre_cientifico" id="nombre_cientifico" class="form-control" value="{{ especieEditar.nombre_cientifico }}">
            </div>
            {% if especieEditar.imagen %}
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen</label>
                    <img src="{{ especieEditar.imagen.url }}" class="img-thumbnail" style="width: 200px;">
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input id="imagen" name="imagen" type="file" class="file" data-browse-on-zone-click="true" accept="image/*">
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <a class="btn btn-outline-danger" href="{% url 'lista_especie' %}"></a>
                    <i class="fa fa-arrow-left"></i> Volver
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- Inicializar FileInput con vista previa -->
<script>
  const input = document.querySelector('input[name="imagen"]');
  const preview = document.getElementById('preview');

  input.addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      preview.src = URL.createObjectURL(file);
      preview.classList.remove("d-none");
    } else {
      preview.classList.add("d-none");
    }
  });
</script>

{% endblock %}