{% extends "plantilla.html" %}
{% block contenido %}
<h1>Lista de Proyecto Reforestación</h1>
<p>
    <a href="{% url 'nuevo_proyecto' %}">Crear Nuevo Proyecto</a>
</p>
<table>
    <thead>
        <tr>
            <th>Comunidad</th>
            <th>Especie</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Archivo</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in proyectos %}
        <tr>
            <td>{{ proyecto.comunidad }}</td>
            <td>{{ proyecto.especie }}</td>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.descripcion }}</td>
            <td>{{ proyecto.fecha_inicio }}</td>
            <td>{{ proyecto.fecha_fin }}</td>
            <td>{{ proyecto.archivo }}</td>
            <td>{{ proyecto.creado }}</td>
            <td>{{ proyecto.actualizado }}</td>
            <td>
                <a href="{% url 'editar_proyecto' proyecto.id %}">Editar</a> |
                <a href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}