{% extends "plantilla.html" %}
{% block contenido %}
<h1>Crear Nuevo Proyecto</h1>
<form action="{% url 'guardar_proyecto' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="comunidad">Comunidad:</label>
    <select name="comunidad" id="comunidad">
        <option value="">Seleccione...</option>
        {% for comunidad in comunidades %}
        <option value="{{ comunidad.id }}">{{ comunidad.nombre }}</option>
        {% endfor %}
    </select>
    <label for="especie">Especie:</label>
    <select name="especie" id="especie">
        <option value="">Seleccione...</option>
        {% for especie in especies %}
        <option value="{{ especie.id }}">{{ especie.nombre_comun }}</option>
        {% endfor %}
    </select>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre" required>
    <label for="descripcion">Descripcion:</label>
    <input type="text" name="descripcion" id="descripcion">
    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" name="fecha_inicio" id="fecha_inicio" required>
    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" name="fecha_fin" id="fecha_fin" required>
    <label for="archivo">Archivo:</label>
    <input type="file" name="archivo" id="archivo">
    <input type="submit" value="Crear">
    <a href="{% url 'lista_proyecto' %}">Volver</a>
</form>
{% endblock %}